*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif !important;
}

html ::-webkit-scrollbar {
  display: none;
}
body {
  background: #ff9aa3;
}

header {
  width: 100%;
  height: 300px;
  background: #ff9aa3;
  color: #fff;
}

main {
  /* background: rgba(0, 0, 0, 0.9); */

  background-color: #fff;
  border-radius: 20px 20px 0 0;
}
.logo {
  font-size: 2rem;
  color: #fff;
  display: flex;
  /* padding-top: 0.5rem;
  padding-left: 0.2rem; */
  padding: 0.5rem;
  font-weight: 600;
  border-bottom: 2px solid #fff;
}
.logoHolder {
  width: 50px;
  height: 50px;
}

.logoHolder > img {
  width: 100%;
  height: 100%;
}
.appName {
  padding-top: 0.8rem;
}
.checkPalindrom {
  width: 80%;
  margin: 0 auto;
  height: 300px;
  /* background: red; */
}
.banner {
  width: 80%;
  height: 280px;
  margin: 0 auto;
  /* background-color: red; */
  /* padding-top: 2rem; */
}
.banner > img {
  width: 100%;
  height: 100%;
}
