*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html ::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #c8d8e4;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 350px;
  background: #2b6777;
  color: #fff;
  display: grid;
  grid-template-rows: 60px 1fr;
  border-radius: 0px 0px 50px 50px;
}

main {
  background-color: #c8d8e4;
  height: 230px;
  margin-bottom: 2rem;
}
footer {
  width: 100%;
  height: 280px;
  margin-top: 5rem;
  background-color: #c8d8e4;
  background: #2b6777;
  clip-path: polygon(52% 55%, 100% 23%, 100% 100%, 0 100%, 0 21%);
}
.logo {
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  padding: 0.3rem;
  font-weight: 600;
  border-bottom: 2px solid #fff;
}
.logoHolder {
  width: 45px;
  height: 45px;
}

.logoHolder > img {
  width: 100%;
  height: 100%;
}
.appName {
  padding-top: 0.8rem;
}

.banner {
  width: 80%;
  height: 280px;
  margin: 0 auto;
}
.banner > img {
  width: 100%;
  height: 100%;
}

.title {
  padding: 2rem;
  display: grid;
  font-size: 1rem;
}

.title-wrapper {
  text-align: center;
  display: grid;
  place-items: center;
  padding: 1rem;
  font-size: 1.2rem;
}

.effect {
  text-align: center;
  font-family: monospace;
}
.palindrom {
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
  display: grid;
  grid-template-rows: 100px 80px 50px 1fr;
}

.descriptionBox {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  color: #494848;
}

.dobBox {
  width: 70%;
  margin: 0 auto;
  height: 50px;
}
#userBirthday {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  outline: none;
  background-color: #ffff;
  border: none;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn {
  width: 40%;
  margin: 0 auto;
  height: 2.5rem;
}

.btn > button {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-family: monospace;
  background: #2b6777;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.resultBox {
  display: none;
  width: 90%;
  height: 110px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.1rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.socialMedia {
  width: 75%;
  margin: 0 auto;
  height: 100px;
  margin-top: 10rem;
  position: relative;
  top: 10rem;
  display: flex;
  justify-content: space-between;
}
.social {
  width: 50px;
  height: 50px;
  margin-top: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.4rem;
  cursor: pointer;
}

.social > img {
  width: 100%;
  height: 100%;
}

/* ------------ Desktop Responsiveness ----------------*/

@media only screen and (min-width: 1000px) {
  header {
    height: 450px;
    grid-template-rows: 100px 1fr;
  }

  main {
    background-color: #c8d8e4;
    height: 440px;
    margin-bottom: 2rem;
  }

  footer {
    width: 100%;
    height: 500px;
  }

  .logo {
    font-size: 3rem;
    padding: 1rem;
  }

  .logoHolder {
    width: 70px;
    height: 70px;
  }

  .palindrom {
    grid-template-rows: 140px 150px 90px 1fr;
  }

  .descriptionBox {
    width: 40%;
    font-size: 2.2rem;
  }

  .dobBox {
    width: 20%;
    height: 80px;
  }

  #userBirthday {
    font-size: 2rem;
  }

  .btn {
    width: 10%;
    height: 4rem;
  }

  .btn > button {
    font-size: 1.8rem;
  }

  .resultBox {
    width: 50%;
    height: 210px;
    font-size: 2rem;
  }

  .socialMedia {
    width: 45%;
    height: 100px;
    top: 20rem;
  }

  .social {
    width: 80px;
    height: 80px;
  }
}
